.mainWrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.btnsList {
  width: 115px;
  margin: 0 10px;
  padding: 0;
  padding-top: 55px;
  list-style: none;
}

.btnsList li {
  width: 115px;
  margin-bottom: 16px;
}

.deleteRowBtn {
  width: 100%;
  height: 26px;
  padding: 0 10px;
  transform: scale(1);

  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  word-break: keep-all;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: all 300ms ease-in-out;
}

.deleteRowBtn:hover {
  transform: scale(1.1);
  color: var(--accent-text-color);
  background-color: var(--secondary-bg-color);
}

.addRowBtn {
  composes: deleteRowBtn;
  font-size: 15px;
  color: var(--accent-text-color);
  background-color: var(--secondary-bg-color);
}

.tableCaption {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
}

.table {
  border-collapse: collapse;
}

.table tr,
.table td,
.table th {
  padding: 10px;
  border: 1px solid var(--chart-bg-color);
  text-align: center;
  cursor: pointer;
}

.table td {
  width: 100px;
  transition: background-color 300ms ease-in-out;
}

.table td:hover {
  background-color: var(--accent-bg-color);
}

.baseTd {
  background-color: var(--main-bg-color);
}

.activeTd {
  background-color: var(--secondary-bg-color);
}

.activeHeader {
  font-weight: 600;
  background-color: var(--accent-bg-color);
  color: var(--accent-text-color);
}

.totalAmountByRow {
  position: relative;
  overflow: hidden;
}

.totalAmountByRow:hover .totalAmountByRowPercentage {
  opacity: 1;
  transform: translateX(0);
}

.totalAmountByRow:hover .totalAmountByRowCount {
  opacity: 0;
  transform: translateX(100%);
}

.totalAmountByRow:hover .totalAmountByRowChart {
  opacity: 1;
  transform: translateX(0);
}

.totalAmountByRowCommon {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.totalAmountByRowCount {
  composes: totalAmountByRowCommon;
  width: 100%;
  transform: translateX(0);

  font-weight: 600;
  color: var(--accent-text-color);

  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
}

.totalAmountByRowChart {
  composes: totalAmountByRowCommon;
  transform: translateX(-100%);
  background-color: var(--chart-bg-color);

  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
}

.totalAmountByRowPercentage {
  composes: totalAmountByRowCommon;
  width: 100%;
  transform: translateX(-100%);

  font-weight: 600;
  color: var(--chart-text-color);

  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
}

.tableHeader {
  margin: 8px 0;

  font-weight: 600;
  text-align: center;
  color: var(--accent-text-color);
  cursor: pointer;
}

.tableHeaderAverage {
  composes: tableHeader;
  width: 115px;
  margin: 10px;
}

.tableHeaderTotal {
  composes: tableHeader;
  background-color: var(--secondary-bg-color);
}
